body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 80%;
}

hr {
    border: 1px solid white;
    margin: 20px 0;
}

/* Center contents inside the QR section */
.qr-section {
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

/* Ensures the generated QR code is treated as inline element */
#qrcode {
    display: inline-block;
}

/* Fade-in effect for the initial message */

/* Initial state: hidden */
#initialMessage {
    opacity: 0;
    transition: opacity 8s;
}

/* Visible state: trigger fade-in */
#initialMessage.visible {
    opacity: 1;
}